.button {
  display: inline-block;
  text-align: center;

  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $bg-white;
  text-decoration: none;
  background-color: $bg-green;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
