.contacs,
.contacs__map-wrapper {
  position: relative;
  min-height: 362px;
}

.contacs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87.5%;
  margin: 0 auto;
  height: 50px; /*для ie 11*/
  min-height: 114px;
}

.contacs__advertising {
  width: 140px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title;
}

.contacs__address {
  width: 140px;
  line-height: 20px;
}

.contacs__map-box,
.contacs__map {
  position: absolute;
  width: 100%;
  height: 362px;
}

.contacs__map-box {
  z-index: 5;
}

.contacs__map-pin {
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 53px;
  top: 155px;
  left: 44%;
}

@media (min-width: $tablet-width) {
  .contacs__map-wrapper {
    min-height: 397px;
  }

  .contacs__wrapper {
    max-width: 1068px;
    width: 92%;
    min-height: 201px;
  }

  .contacs__advertising {
    width: 205px;
    padding-left: 42px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacs__address {
    width: 190px;
    padding-right: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacs__city {
    display: block;
    margin-top: 21px;
  }

  .contacs__map-box,
  .contacs__map {
    height: 397px;
  }

  .contacs__map-pin {
    width: 113px;
    height: 106px;
    top: 120px;
    left: 46%;
  }
}

@media (min-width: $desktop-width) {
  .contacs__wrapper {
    position: absolute;
    z-index: 100;
    background-color: $bg-white;
    width: 570px;
    top: 98px;
    right: 53%;
  }

  .contacs__advertising {
    padding-left: 76px;
  }

  .contacs__address {
    padding-right: 55px;
    text-align: left;
  }

  .contacs__map-pin {
    top: 125px;
    left: 69%;
  }
}
