.additionally {
  width: 87.5%;
  margin: 0 auto;
}

.additionally__title {
  margin-top: 28px;
  margin-bottom: 35px;
}

.additionally__table {
  width: 100%;
  display: block;

  border-collapse: collapse;
}

.additionally__table tbody {
  display: block; /*Required for wrap to work correctly in IE*/
}

.additionally__table td {
  display: block;
}

.additionally__table tr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 116px;
  padding-top: 12px;
  margin-top: -1px;
  border-bottom: 1px solid $light-dark-grey;
  border-top: 1px solid $light-dark-grey;
}

.additionally__ingredients {
  width: 100%;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey;
}

.additionally__quantity {
  position: relative;
  top: 9px;
  align-self: flex-start;
}

.additionally__cost {
  position: relative;
  top: -10px;
  align-self: flex-end;
}

.additionally__btn {
  width: 100%;
}

.additionally__button {
  width: 100%;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additionally {
    width: 100%;
  }

  .additionally__title {
    margin-top: 66px;
    margin-bottom: 80px;
  }

  .additionally__table tr {
    padding: 0 5%;
    min-height: 87px;
    padding-top: 24px;
    padding-bottom: 26px;
    margin-top: -1px;

    border: 1px solid $light-dark-grey;
  }

  .additionally__ingredients {
    width: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .additionally__quantity,
  .additionally__cost {
    font-size: 16px;
    line-height: 20px;
  }

  .additionally__quantity {
    align-self: flex-end;
    width: 27.2%;
    padding-right: 15.5%;
    text-align: right;
    top: -19px;
  }

  .additionally__cost {
    margin: 0;
    width: 14.6%;
    top: -40px;

    text-align: right;
  }

  .additionally__btn {
    margin-top: -20px;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    width: 73.5%;
    margin: 0;
  }

  .additionally__title {
    margin-top: 72px;
  }

  .additionally__table {
    width: 100%;
  }

  .additionally__table tr {
    flex-direction: row;
    height: 10px; /*для IE 11*/
    min-height: 71px;
    padding: 0;
    align-items: center;

    border: none;
    border-bottom: 1px solid $light-dark-grey;
    border-top: 1px solid $light-dark-grey;
  }

  .additionally__ingredients {
    width: 36.2%;
    padding: 0;
  }

  .additionally__quantity,
  .additionally__cost {
    top: 30px;
    padding: 0;
    margin: 0;
    align-self: flex-start;

    text-align: left;
  }

  .additionally__quantity {
    width: 27%;
  }

  .additionally__cost {
    width: 9.1%;
  }

  .additionally__btn {
    width: 27.5%;
    padding: 0;
    margin: 0;
  }
}
