.title-decor {
  position: relative;
  display: inline-block;
  z-index: 5;
  margin: 0;
  padding-right: 23px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-title;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(0, 50%);
    left: calc(100% - 3px);
    width: 100vw;
    height: 3px;
    background-color: $bg-green;
  }
}

@media (min-width: $tablet-width) {
  .title-decor {
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: calc(100% + 8px);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      z-index: -1;
      top: 50%;
      transform: translate(0, 50%);
      right: 100%;
      width: 100vw;
      height: 3px;
      background-color: $bg-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .title-decor {
    padding-left: 0;

    &::before {
      left: calc(100% + 3px);
    }

    &::after {
      right: calc(100% + 25px);
    }
  }
}
