.page-form {
  margin-bottom: 18px;
  overflow: hidden;
}

.page-form__wrapper {
  width: 87.5%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 40px;
}

.page-form__title {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-title;
}

.page-form___text {
  margin: 0;
  width: 82.2%;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-title;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-form {
    margin-bottom: 70px;
  }

  .page-form__wrapper {
    max-width: 1068px;
    width: 92%;
    margin-top: 52px;
    margin-bottom: 67px;
  }

  .page-form__title {
    margin-bottom: 55px;
    font-size: 60px;
  }

  .page-form___text {
    width: 48%;
    margin-left: 5.6%;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    margin-bottom: 74px;
  }

  .page-form__wrapper {
    width: 93.8%;
    max-width: 1920px;
    margin-top: 71px;
    margin-bottom: 65px;
  }

  .page-form___text {
    width: 30%;
    margin: 0;
  }
}
