@import "normalize";
@import "variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/form-input.scss";
@import "global/title-decor.scss";
@import "blocks/index/page-main.scss";
@import "blocks/index/page-header.scss";
@import "blocks/index/site-list.scss";
@import "blocks/index/program.scss";
@import "blocks/index/button.scss";
@import "blocks/index/catalog.scss";
@import "blocks/index/features.scss";
@import "blocks/index/result.scss";
@import "blocks/index/page-footer.scss";
@import "blocks/index/contacs.scss";
@import "blocks/index/info.scss";
@import "blocks/index/social.scss";
@import "blocks/index/htmlacademy.scss";
@import "blocks/catalog/page-catalog.scss";
@import "blocks/catalog/cat-catalog.scss";
@import "blocks/catalog/additionally.scss";
@import "blocks/catalog/cat-present.scss";
@import "blocks/form/page-form.scss";
@import "blocks/form/program-filters.scss";
@import "blocks/form/cat-profile.scss";
@import "blocks/form/form-filter.scss";
@import "blocks/form/form-comments.scss";
@import "blocks/form/contacts.scss";
@import "blocks/form/extra.scss";
