$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-white: #ffffff;
$bg-black: #000000;
$color-text: #444444;
$color-title: #111111;
$light-grey: #e6e6e6;
$light-dark-grey: #d3d3d3;
$dark-grey: #222222;
$medium-dark-gray: #666666;
$bg-green: #68b738;
$dark-green: #5eaa2f;
$index-bg-green: #65a93c;
$catalog-bg-gray: #f2f2f2;
$cat-bg-gray: #eaeaea;
$form-grey: #cdcdcd;
$form-grey-bg: #ededed;
$form-invalid: #ff8282;
